<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
			<div class="title-image"></div>
		</button>
		<ion-title>{{ 'GAME_AVAILABLE_LIST_TITLE' | translate }}</ion-title>
	</ion-navbar>
	<ion-toolbar>
		<ion-searchbar (ionInput)="filter($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="loadPollas($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-list>
		<ion-item-group *ngFor="let group of groupArray">
			<ion-item-divider sticky (click)="toggleDetails(group)">
				<ion-icon color="primary" item-right [name]="group.icon"></ion-icon>
				<ion-label>{{ group.strDate }}</ion-label>
			</ion-item-divider>

			<div *ngIf="group.showDetails">
				<button ion-item *ngFor="let pollaHeader of group.pollaHeaderArray" (click)="openGameTabsPage(pollaHeader)">
					<ion-thumbnail item-start>
						<img [src]="pollaHeader.image" />
					</ion-thumbnail>
					<ion-grid no-padding>
						<ion-row align-items-center>
							<ion-col>
								<h2 text-wrap>{{ pollaHeader.pollaName }}</h2>
							</ion-col>
						</ion-row>
						<ion-row align-items-center>
							<ion-col col-1>
								<ion-icon name="person"></ion-icon>
							</ion-col>
							<ion-col>
								<p>{{ pollaHeader.admin.username }}</p>
							</ion-col>
							<ion-col col-1>
								<ion-icon name="{{ pollaHeader.accessFlag == 0 ? 'unlock' : 'lock' }}"></ion-icon>
							</ion-col>
							<ion-col>
								<p>{{ pollaHeader.accessFlag == 0 ? ('GAME_ACCESS_FLAG_PUBLIC' | translate) : ('GAME_ACCESS_FLAG_PRIVATE' | translate)
									}}
								</p>
							</ion-col>
						</ion-row>
						<ion-row align-items-center>
							<ion-col>
								<!--<ion-icon name="cash"></ion-icon>-->
								<h3>Entrada:</h3>
							<!--</ion-col>-->
							<!--<ion-col>-->
								<p>{{ pollaHeader.pollaCost ? ( pollaHeader.pollaCost | number ) : 0 }} {{ 'CREDITS' | translate }}</p>
							</ion-col>
							<ion-col>
								<!--<ion-icon name="trophy"></ion-icon>-->
								<h3>Pozo:</h3>
							<!--</ion-col>-->
							<!--<ion-col>-->
								<p>{{ pollaHeader.total_bet ? ( pollaHeader.total_bet | number ) : 0 }} {{ 'CREDITS' | translate }}</p>
							</ion-col>
						</ion-row>
						<ion-row align-items-center>
							<ion-col col-1>
								<ion-icon name="time"></ion-icon>
							</ion-col>
							<ion-col>
								<p>{{ pollaHeader.startDate | moment:'H:mm' }}</p>
							</ion-col>
							<ion-col col-1>
								<ion-icon name="people"></ion-icon>
							</ion-col>
							<ion-col>
								<p>{{ pollaHeader.numParticipants }} {{ 'GAME_LIST_NUM_PARTICIPANTS' | translate }}</p>
							</ion-col>
						</ion-row>
					</ion-grid>
				</button>
			</div>
		</ion-item-group>
	</ion-list>
	<p padding *ngIf="pollaHeaderList && pollaHeaderList.length == 0">{{ 'AVAILABLE_GAME_NO_DATA_FOUND' | translate }}</p>
</ion-content>