<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ 'COLLECT_CREDITS_TITLE' | translate }}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="done()">
				<ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<form [formGroup]="form">
		<ion-list>
			<ion-item>
				<h2>Mínimo de créditos a cobrar</h2>
				<p>1000 créditos</p>
			</ion-item>
			<ion-item>
				<h2>Créditos disponibles</h2>
				<p>{{ credit.totalCreditos }} créditos</p>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ 'CREDITS_TO_COLLECT' | translate }}</ion-label>
				<ion-input type="number" [(ngModel)]="creditAmount" formControlName="creditAmount"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.creditAmount">
					<div class="error-message" *ngIf="form.get('creditAmount').hasError(validation.type) && (form.get('creditAmount').dirty || form.get('creditAmount').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item *ngIf="creditAmount">
				<h2>Los créditos a cobrar equivalen</h2>
				<p>{{ creditAmount }} créditos = {{ creditAmount/10 }} U.S. dólar</p>
			</ion-item>
			<ion-item>
				<p text-wrap align="justify">{{ 'CREDITS_COLLECT_INFO' | translate }}</p>
			</ion-item>
		</ion-list>
	</form>
</ion-content>