<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ 'USER_EDIT_TITLE' | translate }}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="done()">
				<ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<form [formGroup]="form">
		<ion-list *ngIf="user">
			<ion-item>
				<ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
				<ion-input type="text" formControlName="username"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.username">
					<div class="error-message" *ngIf="form.get('username').hasError(validation.type) && (form.get('username').dirty || form.get('username').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{ 'FIRST_NAME' | translate }}</ion-label>
				<ion-input type="text" formControlName="firstName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ 'LAST_NAME' | translate }}</ion-label>
				<ion-input type="text" formControlName="lastName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ 'SEX' | translate }}</ion-label>
				<ion-select formControlName="sex">
					<ion-option *ngFor="let sex of sexList" [value]="sex.value">{{ sex.description }}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ 'BIRTHDATE' | translate }}</ion-label>
				<ion-datetime formControlName="dateOfBirthday" displayFormat="DD/MM/YYYY"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
				<ion-input type="email" formControlName="email"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.email">
					<div class="error-message" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label text-wrap>{{ 'FLAG_NOTIFICATION' | translate }}</ion-label>
				<ion-checkbox formControlName="flagNotification"></ion-checkbox>
			</ion-item>
		</ion-list>
	</form>
</ion-content>