// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.item[no-lines].bottom-border {
	border-bottom: 1px solid color($colors, _gray);
}

.force-back-button .back-button {
	display: inline-block;
}

html {
	font-size: 10px;
}

.error-message {
	color: red;
	padding-left: 16px;
}

.title-image {
	background: url('../../assets/icon/favicon.png') transparent;
	background-size: 100%;
	width: 20px;
	height: 20px;
	margin-left: 8px;
	vertical-align: middle;
}

// Dark theme
h1,
h2,
h3,
h4,
p {
	color: white !important;
}
