<ion-header>
	<ion-navbar class="force-back-button">
		<ion-title>{{ 'REGISTER_TAB' | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<form [formGroup]="form">
		<ion-list>
			<ion-item no-lines *ngIf="pollaHeader && pollaHeader.rules" text-wrap>
				<p style="height: 360px; overflow-y: scroll" innerHTML="{{ pollaHeader.rules }}"></p>
			</ion-item>
			<ion-item>
				<ion-label>{{ 'ACCEPT_RULES' | translate }}</ion-label>
				<ion-checkbox formControlName="accept"></ion-checkbox>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.accept">
					<div class="error-message" *ngIf="form.get('accept').hasError(validation.type) && (form.get('accept').dirty || form.get('accept').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<div padding>
				<button type="submit" ion-button small (click)="done()">{{ 'OK_BUTTON' | translate }}</button>
			</div>
		</ion-list>
	</form>
</ion-content>