<ion-header>
	<ion-navbar>
		<ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<form [formGroup]="form" (ngSubmit)="doSignup(form.value)">
		<ion-list>
			<ion-item>
				<ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
				<ion-input type="text" [(ngModel)]="user.username" formControlName="username"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.username">
					<div class="error-message" *ngIf="form.get('username').hasError(validation.type) && (form.get('username').dirty || form.get('username').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
				<ion-input type="email" [(ngModel)]="user.email" formControlName="email"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.email">
					<div class="error-message" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<div formGroupName="passwords">
				<ion-item>
					<ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
					<ion-input type="password" [(ngModel)]="user.password" formControlName="password"></ion-input>
				</ion-item>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validationMessages.password">
						<div class="error-message" *ngIf="form.get('passwords').get('password').hasError(validation.type) && (form.get('passwords').get('password').dirty || form.get('passwords').get('password').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>

				<ion-item>
					<ion-label floating>{{ 'CONFIRM_PASSWORD' | translate }}</ion-label>
					<ion-input type="password" [(ngModel)]="user.confirmPassword" formControlName="confirmPassword"></ion-input>
				</ion-item>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validationMessages.confirmPassword">
						<div class="error-message" *ngIf="form.get('passwords').get('confirmPassword').hasError(validation.type) && (form.get('passwords').get('confirmPassword').dirty || form.get('passwords').get('confirmPassword').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>
			</div>
			<!-- These validations are for the form group -->
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.passwords">
					<div class="error-message" *ngIf="form.get('passwords').hasError(validation.type) && (form.get('passwords').get('confirmPassword').dirty || form.get('passwords').get('confirmPassword').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label><a href="#">{{ 'ACCEPT_CONDITIONS' | translate }}</a></ion-label>
				<ion-checkbox formControlName="terms" (ionChange)="presentTermsAlert($event)"></ion-checkbox>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validationMessages.terms">
					<div class="error-message" *ngIf="form.get('terms').hasError(validation.type) && (form.get('terms').dirty || form.get('terms').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<div padding align="center">
				<button ion-button small [disabled]="!form.valid">{{ 'SIGNUP_BUTTON' | translate }}</button>
			</div>
		</ion-list>
	</form>
</ion-content>