<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ 'BET_MATCH_SAVE_TITLE' | translate }}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="done()">
				<ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<form [formGroup]="form">
		<ion-slides #slides pager="true" dir="{{ dir }}" (ionSlideWillChange)="onSlideChange($event)">
			<ion-slide *ngFor="let pollaBet of pollaBetList">
				<ion-grid>
					<ion-row>
						<ion-col col-3>
							<p text-center>{{ pollaBet.pollaMatch.match.localTeam.teamName }}</p>
						</ion-col>
						<ion-col col-3 offset-6>
							<p text-center>{{ pollaBet.pollaMatch.match.visitorTeam.teamName }}</p>
						</ion-col>
					</ion-row>
					<ion-row align-items-center>
						<ion-col>
							<ion-thumbnail>
								<img [src]="pollaBet.pollaMatch.match.localTeam.image" />
							</ion-thumbnail>
						</ion-col>
						<ion-col>
							<ion-input type="number" text-center [(ngModel)]="pollaBet.localBetScore" formControlName="localBetScore"></ion-input>
						</ion-col>
						<ion-col>
							<ion-input type="number" text-center [(ngModel)]="pollaBet.visitorBetScore" formControlName="visitorBetScore"></ion-input>
						</ion-col>
						<ion-col>
							<ion-thumbnail>
								<img [src]="pollaBet.pollaMatch.match.visitorTeam.image" />
							</ion-thumbnail>
						</ion-col>
					</ion-row>
					<div class="validation-errors">
						<ng-container *ngFor="let validation of validationMessages.score">
							<div class="error-message" *ngIf="hasError || (form.get('localBetScore').hasError(validation.type) && (form.get('localBetScore').dirty || form.get('localBetScore').touched)) || (form.get('visitorBetScore').hasError(validation.type) && (form.get('visitorBetScore').dirty || form.get('visitorBetScore').touched))">
								{{ validation.message }}
							</div>
						</ng-container>
					</div>

					<ion-row>
						<ion-col>
							<ion-item no-lines>
								<ion-label>{{ 'GAME_BET_WILDCARD' | translate }}</ion-label>
								<ion-checkbox [(ngModel)]="pollaBet.flagWildcard" formControlName=flagWildcard></ion-checkbox>
							</ion-item>
						</ion-col>
					</ion-row>
				</ion-grid>

				<ion-list>
					<ion-item>
						<h2>{{ 'GAME_NAME' | translate }}</h2>
						<p>{{ pollaBet.pollaParticipant.pollaHeader.pollaName }}</p>
					</ion-item>
					<ion-item>
						<h2>{{ 'GAME_TEMPLATE_NAME' | translate }}</h2>
						<p></p>
					</ion-item>
					<ion-item>
						<h2>{{ 'GAME_BET_EVENT' | translate }}</h2>
						<p text-wrap>{{ pollaBet.pollaMatch.match.localTeam.teamName }} vs. {{ pollaBet.pollaMatch.match.visitorTeam.teamName }}</p>
					</ion-item>
					<ion-item>
						<h2>{{ 'GAME_BET_STATUS' | translate }}</h2>
						<p>{{ pollaBet.status == 0 ? ('GAME_BET_STATUS_CLOSED' | translate) : ('GAME_BET_STATUS_OPENED' | translate) }}</p>
					</ion-item>
				</ion-list>
			</ion-slide>
		</ion-slides>
	</form>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-item no-lines>
			<ion-label text-wrap>{{ 'COPY_TO_ALL' | translate }}</ion-label>
			<ion-checkbox [(ngModel)]="isCopyChecked" name=isCopyChecked [disabled]="!validFirstSlide" (ionChange)="copyCheckChange()"></ion-checkbox>
		</ion-item>
	</ion-toolbar>
</ion-footer>