page-bet-match-save {
	.input {
		border: thin solid color($colors, _gray);
		font-size: 13px;
	}

	p {
		font-size: 13px;
	}

	ion-slide.swiper-slide {
		align-items: flex-start;
	}

	.error-message {
		font-size: 13px;
	}
}
